.content-scroll-container {
  overflow-y: scroll;
  height: calc(100% - 45px);
}

.content {
  height: fit-content;
}

.nav-link {
  padding-top: 0px;
  padding-bottom: 0px;
  text-decoration: none!important;
  color: rgb(10, 173, 10)!important;
  font-weight: bold;
}

.dialog-input {
  outline: 1px solid #666;
  height: 60px; 
  font-size: 1.2rem!important;
  border-radius: 12px!important;
  margin: 10px 0px;
}

.dialog-input:focus {
  outline: 2px solid #666!important;
  box-shadow: none!important;
  border-color: transparent!important;
  border-radius: 12px;
}


.login-drawer {
  position: relative;
  right: 0px;
  max-height: calc(100vh - 50px);
  width: 520px;
  margin: 25px;
  border-radius: 12px;
  overflow: hidden;
}

.login-container {
  background-color: white;
  position: relative;
  height: fit-content;
  max-height: calc(100vh - 50px);
  overflow-y: hidden;
  width: 100%;
}

.background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: rgba(0,0,0,0.6);
  padding: 60px 0px 20px 0px;
}

.close-modal {
  padding: 10px 0px 10px 15px;
  width: fit-content;
  height: 45px;
  position: sticky;
  cursor: pointer;
}

.rotate-icon {
  transform: rotate(45deg);
}

.paper {
  border: 1px solid lightgray;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  margin: 0px auto 0px 20px;
  background-color: #fff;
  width: 420px;
  height: fit-content;
  max-height: 100%;
  overflow-y: scroll;
  position: relative;
}

.notification {
  color: #ab003c;
}

.header {
  width: 100%;
  padding: 5px 15px 0px 15px;
  font-size: 0.9rem;
}

.wrapper {
  font-size: 0.9rem;
  padding: 0px 15px 10px 15px!important;
}

.login-footer {
  background-color: #efefef;
  width: 100%;
  padding: 20px 15px;
  text-align: center;
  font-size: 0.9rem;
  border-top: 1px solid #ddd;
}

.btn {
  border: none; 
  font-size: 1.1rem;
  font-weight: 600;
  width: 100%;
  background-color: rgb(10, 173, 10);
  color: #fff;
  padding: 10px;
  height: 58px;
  border-radius: 12px; 
  margin-top: 12px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 576px) {
  .login-drawer {
    width: calc(100vw - 50px);
  }
}